name: Publish to NPM when release is published
on:
  release:
    types: [published]
permissions:
  id-token: write
  contents: read
jobs:
  npm-release:
    if: github.event.release.draft == false && github.event.release.prerelease == false
    uses: ./.github/workflows/call-npm-publish.yml
    with:
      ref: refs/tags/${{ github.event.release.tag_name }}
      dry-run: false
      channel: latest
