name: Trusted Release
on:
  # Run daily at 2:30am UTC
  schedule:
    - cron: "30 2 * * 1-5"
  release:
    types: [published]
  workflow_dispatch:
permissions:
  id-token: write
  contents: read
jobs:
  get-settings:
    runs-on: ubuntu-latest
    outputs:
      increment: ${{ github.event_name == 'schedule' && 'prerelease' || '' }}
      channel: ${{ github.event_name == 'schedule' && 'nightly' || 'latest' }}
    steps:
      - run: exit 0
  get-versions:
    needs: [get-settings]
    uses: ./.github/workflows/call-get-versions.yml
    with:
      increment: ${{ needs.get-settings.outputs.increment }}
      channel: ${{ needs.get-settings.outputs.channel }}
  increment-version:
    # prevents this action from running on forks
    if: github.repository_owner == 'etrepum' && needs.get-versions.outputs.next-version
    needs: [get-settings, get-versions]
    uses: ./.github/workflows/call-increment-version.yml
    with:
      increment: ${{ needs.get-settings.outputs.increment }}
      channel: ${{ needs.get-settings.outputs.channel }}
      latest-release: ${{ needs.get-versions.outputs.latest-release }}
      next-version: ${{ needs.get-versions.outputs.next-version }}
      dry-run: false
      git-repo: ${{ needs.get-versions.outputs.ssh-git-origin }}
    secrets:
      SSH_KEY: ${{ secrets.SSH_KEY }}
  npm-release:
    uses: ./.github/workflows/call-npm-publish.yml
    needs: [get-settings, increment-version]
    with:
      ref: ${{ needs.increment-version.outputs.tag-ref || github.ref }}
      dry-run: false
      channel: ${{ needs.get-settings.outputs.channel }}
